<h3> Pie Graph </h3>
<p>
  <b>Data : (The Google datatable is created using Daru::DataFrame. ) </b>
  <%= @table.div %>
  <br>
  <b>Options</b>
  <%= @piechart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @piechart.div %>
</p>
<br>

<br>

<h3> Geo Graph </h3>
<p>
  <b>Data : </b>
  <%= @table.div %>
  <br>
  <b>Options</b>
  <%= @geochart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @geochart.div %>
</p>
<br>

<br>