
<h3> Daru DataFrame: </h3>
<p style="color:blue;width: 100px;">
  <b>Data : </b>
  <%=raw @dt_df2.data.to_html %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_df2_html %></div>

</p>


<br>


<h3> Daru DataFrame: </h3>
<p>
  <b>Data : </b>
  <%=raw @dt_df1.data.to_html %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_df1_html %></div>
</p>

<br>

<h3> Daru Vector: </h3>
<p>
  <b>Data : </b>
  <%=raw @dt_dv.data.to_html %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_dv_html %></div>
</p>
<br>


<h1> Using array : </h1>
<br>
<h3> 2D array: </h3>
<p style='width: 50px'>
  <b>Data : </b>
  <%=raw @dt_df2_arr.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_df2_arr_html %></div>
</p>


<br>


<h3> 2D array : </h3>
<p>
  <b>Data : </b>
  <%=raw @dt_df1_arr.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_df1_arr_html %></div>
</p>

<br>

<h3> 1D array: </h3>
<p>
  <b>Data : </b>
  <%=raw @dt_dv_arr.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_dv_arr_html %></div>
</p>
<br>


