
<h3> Daru DataFrame: </h3>
<p style='width: 50px'>
  <b>Data : </b>
  <%=raw @dt_df2.data.to_html %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @dt_df2_html %>
</p>


<br>


<h3> Daru DataFrame: </h3>
<p>
  <b>Data : </b>
  <%=raw @dt_df1.data.to_html %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @dt_df1_html %>
</p>

<br>

<h3> Daru Vector: </h3>
<p>
  <b>Data : </b>
  <%=raw @dt_dv.data.to_html %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @dt_dv_html %>
</p>


<br>



