<br>

<h3> Line Graph - basic</h3>
<p>
  <b>Data : </b>
  <%=raw @line_basic.data %>
  <br>
  <b>Options</b>
  <%=raw @line_basic.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @line_basic.div %>
  <!--
          or
  <%=raw @line_basic.chart.to_html %>
  -->
</p>


<h3> 3d column Graph </h3>
<p>
  <b>Data : </b>
  <%=raw @col_3d.data %>
  <br>
  <b>Options</b>
  <%=raw @col_3d.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col_3d.div %>
</p>
<br>


<h3> 3d colmn Graph </h3>
<p>
charts is not coming in 3d, since google_visualr loading only corechart package instead of columnchart package <br>
  <b>Data : </b>
  <%=raw @col_year_sales_exp.data %>
  <br>
  <%=raw @col_year_sales_exp.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col_year_sales_exp.div %>
</p>
<br>

<h3> Map (Fixme: Not able to see google map) </h3>
<p>
 <br>
  <b>Data : </b>
  <%=raw @cp_table.div %>
  <br>
  <%=raw @map.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @map.div %>
</p>
<br>

<br>