<br>

<h3> Line Graph - basic</h3>
<p>
  <b>Data : </b>
  <%=raw @line_basic.data %>
  <br>
  <b>Options</b>
  <%=raw @line_basic.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @line_basic.div %>
  <%=raw @line_basic.chart.to_html %>
</p>


<h3> 3d column Graph </h3>
<p>
  <b>Data : </b>
  <%=raw @col_3d.data %>
  <br>
  <b>Options</b>
  <%=raw @col_3d.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col_3d.div %>
</p>
<br>

<h3> 3d pie Graph </h3>
<p>
  <b>Data : </b>
  <%=raw @col_3d.data %>
  <br>
  <b>Options: (setting new chart type in `options`. Status : not working!</b>
  <% @col_3d.options[:type] = :pie %>
  <%=raw @col_3d.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col_3d.div %>
</p>
<br>



<h3> 3d colmn Graph </h3>
<p>
charts is not coming in 3d, since google_visualr loading only corechart package instead of columnchart package <br>
  <b>Data : </b>
  <%=raw @col_year_sales_exp.data %>
  <br>
  <%=raw @col_year_sales_exp.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col_year_sales_exp.div %>
</p>
<br>

<br>