<br>

<h3> Line Graph - basic</h3>
<p>
  <b>Data : </b>
  <%=raw @line_inv.data %>
  <br>
  <b>Options</b>
  <%=raw @line_inv.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @line_inv.div %>
  <%=raw @line_inv.chart.to_html %>
</p>

<p>

<h4>when user want multiple charts in one frame: Just add after above chart </h4>
    <% @line_inv.chart.series({
        :data => [[10, 15], [20, -50], [30, -56.5], [40, -46.5], [50, -22.1],
              [55, -2.5], [65, -27.7], [80, -55.7], [90, -76.5]]})
    %>
      <br>
  <%=raw @line_inv.div %>
</p>

<h3> Line Graph - Logarithmic axis</h3>
<p>
  <b>Data : </b>
  <%=raw @line_log.data %>
  <br>
  <b>Options</b>
  <%=raw @line_log.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @line_log.div %>
</p>
<br>

<h3> 3d column Graph </h3>
<p>
  <b>Data : </b>
  <%=raw @col_3d.data %>
  <br>
  <b>Options</b>
  <%=raw @col_3d.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col_3d.div %>
</p>
<br>

<h3> Using Daru dataframe html table: </h3>
<p>
  <b>Chart : </b>
  <br>
  <%=raw @out_col_from_table %>
</p>
<br>